* {
    font-family: 'Source Sans Pro', sans-serif;
    color:  #262730;
}

h1 {
    text-align: center;
}

.description {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

#speech-pronunciation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#speech-pronunciation span {
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px solid #262730;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
}

#random-words {
    display: block;
    margin: 40px auto;
    padding: 10px 25px;
    cursor: pointer;
    background: transparent;
    border: none;
    background: #262730;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
}